Source: qt52base
Section: libs
Priority: extra
Maintainer: Zoltán Balogh <zoltan@bakter.hu>
Build-Depends: debhelper (>= 8.0.0),
               libssl-dev,
               pkg-config
Standards-Version: 3.9.2
Homepage: http://www.qt-project.org
#Vcs-Git: git://git.debian.org/collab-maint/qtbase.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/qtbase.git;a=summary

Package: qt52base
Architecture: any
Depends: python-minimal, ${shlibs:Depends}, ${misc:Depends}
Description: Qt Base modules.
 <insert long description, indented with spaces>
