#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Distribution vendor
vendor := $(shell dpkg-vendor --query Vendor)

#ifeq ($(vendor),Ubuntu)
gles2_architectures := armel armhf
#else
#gles2_architectures := none_for_now
#endif

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), $(gles2_architectures)))
        extra_configure_opts += -no-gui -no-opengl -no-xcb -no-widgets
else
        extra_configure_opts += -opengl desktop \
                                -no-egl \
	                        -force-pkg-config
endif

%:
	dh $@ 

override_dh_auto_configure:
	./configure -force-pkg-config -opensource \
	            -confirm-license \
	            -nomake tests \
	            -nomake examples \
	            -prefix /opt/qt52 \
		    -openssl \
		    -no-pch \
	            -release \
	            $(extra_configure_opts)

override_dh_auto_build:
	make -j10
 
override_dh_auto_install:
	make install INSTALL_ROOT=$(CURDIR)/debian/tmp STRIP=echo

override_dh_installinfo:

override_dh_auto_clean:
#	git clean -fdx
#	git submodule foreach git clean -fdx

